<table class="table table-responsive">
    <tbody>
    <tr>
        <td><div id="c1" class="fruits {{ classe['c1'] }}"></div></td>
        <td><div id="c2" class="fruits {{ classe['c2'] }}"></div></td>
        <td><div id="c3" class="fruits {{ classe['c3'] }}"></div></td>
        <td><div id="c4" class="fruits {{ classe['c4'] }}"></div></td>
        <td><div id="c5" class="fruits {{ classe['c5'] }}"></div></td>
        <td><div id="c6" class="fruits {{ classe['c6'] }}"></div></td>
        <td><div id="c7" class="fruits {{ classe['c7'] }}"></div></td>
        <td><div id="c8" class="fruits {{ classe['c8'] }}"></div></td>
        <td><div id="c9" class="fruits {{ classe['c9'] }}"></div></td>
    </tr>
    <tr>
        <td><div id="c10" class="fruits {{ classe['c10'] }}"></div></td>
        <td><div id="c11" class="fruits {{ classe['c11'] }}"></div></td>
        <td><div id="c12" class="fruits {{ classe['c12'] }}"></div></td>
        <td><div id="c13" class="fruits {{ classe['c13'] }}"></div></td>
        <td><div id="c14" class="fruits {{ classe['c14'] }}"></div></td>
        <td><div id="c15" class="fruits {{ classe['c15'] }}"></div></td>
        <td><div id="c16" class="fruits {{ classe['c16'] }}"></div></td>
        <td><div id="c17" class="fruits {{ classe['c17'] }}"></div></td>
        <td><div id="c18" class="fruits {{ classe['c18'] }}"></div></td>
    </tr>
    <tr>
        <td><div id="c19" class="fruits {{ classe['c19'] }}"></div></td>
        <td><div id="c20" class="fruits {{ classe['c20'] }}"></div></td>
        <td><div id="c21" class="fruits {{ classe['c21'] }}"></div></td>
        <td><div id="c22" class="fruits {{ classe['c22'] }}"></div></td>
        <td><div id="c23" class="fruits {{ classe['c23'] }}"></div></td>
        <td><div id="c24" class="fruits {{ classe['c24'] }}"></div></td>
        <td><div id="c25" class="fruits {{ classe['c25'] }}"></div></td>
        <td><div id="c26" class="fruits {{ classe['c26'] }}"></div></td>
        <td><div id="c27" class="fruits {{ classe['c27'] }}"></div></td>
    </tr>
    <tr>
        <td><div id="c28" class="fruits {{ classe['c28'] }}"></div></td>
        <td><div id="c29" class="fruits {{ classe['c29'] }}"></div></td>
        <td><div id="c30" class="fruits {{ classe['c30'] }}"></div></td>
        <td><div id="c31" class="fruits {{ classe['c31'] }}"></div></td>
        <td><div id="c32" class="fruits {{ classe['c32'] }}"></div></td>
        <td><div id="c33" class="fruits {{ classe['c33'] }}"></div></td>
        <td><div id="c34" class="fruits {{ classe['c34'] }}"></div></td>
        <td><div id="c35" class="fruits {{ classe['c35'] }}"></div></td>
        <td><div id="c36" class="fruits {{ classe['c36'] }}"></div></td>
    </tr>
    </tbody>
</table>