{% extends "base.html.twig" %}

{% block content %}
    <div id="login" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="header">Inscription</div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                        <div class="form-group row">
                            {{ form_label(form.nom) }}
                            <div class="col-12">
                                {{ form_widget(form.nom) }}
                                {{ form_errors(form.nom) }}
                            </div>
                        </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="scores">
                <h3>Meilleurs Scores</h3>
                {% if scores is null or scores|length == 0 %}
                    <p>Aucun score</p>
                {% else %}
                    <ul>
                        {% for s in scores %}
                            <li>{{ s.nom }} <span>{{ s.tempsRealise|date('i:s') }}</span></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}